@model EmployeeViewModel
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<h3>Employee Entry Form</h3>
<form action="/employee/entry" method="post">
    <div class="mb-3">
        <label for="code" class="form-label">Code</label>
        <input type="text" class="form-control" name="Code" id="txtCode" placeholder="type employee code in here" required>
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" name="Name" id="txtName" placeholder="type employee name in here" required>
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="text" class="form-control" name="Email" id="txtEmail" placeholder="type employee email in here" required>
    </div>

    <div class="mb-3">
        <label for="Gender" class="form-label">Gender</label> 
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Gender" value="m" checked>
            <label class="form-check-label">Male</label>
            </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Gender" value="f">
            <label class="form-check-label">FeMale</label>
            </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Gender" value="o">
            <label class="form-check-label">Other</label>
            </div>
    </div>

    <div class="mb-3">
        <label for="DOB" class="form-label">DOB</label>
        <input type="date" class="form-control" name="DOB" id="txtDOB" placeholder="type employee DOB in here" required max="@DateTime.Now.ToString("yyyy-MM-dd")">
    </div>
    <div class="mb-3">
        <label for="DOE" class="form-label">DOE</label>
        <input type="date" class="form-control" name="DOE" id="txtDOE" placeholder="type employee DOE in here" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Department</label>
        <select class="form-select" name="DepartmentId">
        <option selected>[select one]</option>
        @foreach(var department in Model.DepartmentViewModels){
                <option value="@department.Id">@department.Code</option>
            }
    </select>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Position</label>
        <select class="form-select" name="PositionId">
            <option selected>[select one]</option>
            @foreach (var p in Model.PositionViewModels)
            {
                <option value="@p.Id">@p.Code</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="BasicSalary" class="form-label">Basic Salary</label>
        <input type="number" class="form-control" name="BasicSalary" id="txtBasicSalary" placeholder="type employee Basic Salary in here">
    </div>
    <div class="mb-3">
        <label for="DOR" class="form-label">DOR</label>
        <input type="date" class="form-control" name="DOR" id="txtDOR" placeholder="type employee DOR in here">
    </div>
    <div class="mb-3">
        <label for="Phone" class="form-label">Phone</label>
        <input type="text" class="form-control" name="Phone" placeholder="type Phone in here">
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">Address</label>
        <input type="text" class="form-control" name="Address" placeholder="type Address in here">
    </div>
    <button type="submit" class="btn btn-success" id="btnEntry" disabled>Entry</button>
    <button type="reset" class="btn btn-primary">Cancel</button>
</form>
<script>
    $(document).ready(function () {
        //initially disable the entry button
         $('#btnEntry').attr('disabled', true);
        //function defination
        function toggleEntryButton() {
            if ($('#txtCode').val().length != 0 && $('#txtName').val().length != 0) {
                $('#btnEntry').attr('disabled', false);
            } else {
                $('#btnEntry').attr('disabled', true);
            }
        }
        $('#txtCode, #txtName').keyup(function () {
            toggleEntryButton();
        });
    });
</script>